WcfClientLibrary/Web References/PIzzaServiceWebReference/mex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/PizzaService/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelsAndInterfaces.Models" />
  <xs:element name="PlaceOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pizzaType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeRemaining">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minutes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PizzaReady">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessIncomingMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelsAndInterfaces.Models" minOccurs="0" name="incomingOrderMessage" nillable="true" type="q1:MyMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>