WcfClientLibrary/Web References/PIzzaServiceWebReference/mex0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelsAndInterfaces.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelsAndInterfaces.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="ShipToAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipToCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipToCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipToZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubmittedOn" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="MyMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyMessage" nillable="true" type="tns:MyMessage" />
</xs:schema>