WcfClientLibrary/Web References/PIzzaServiceWebReference/PizzaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PizzaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPizzaService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetMsmqBinding_IOrderService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/PizzaService/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/PizzaService/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/PizzaService/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelsAndInterfaces.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPizzaService_PlaceOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:PlaceOrder" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_TimeRemaining_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TimeRemaining" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_PizzaReady_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PizzaReady" />
  </wsdl:message>
  <wsdl:message name="IOrderService_ProcessIncomingMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessIncomingMessage" />
  </wsdl:message>
  <wsdl:portType name="IPizzaService">
    <wsdl:operation name="PlaceOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaService/PlaceOrder" message="tns:IPizzaService_PlaceOrder_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimeRemaining">
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaService/TimeRemaining" message="tns:IPizzaService_TimeRemaining_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PizzaReady">
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaService/PizzaReady" message="tns:IPizzaService_PizzaReady_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="ProcessIncomingMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/ProcessIncomingMessage" message="tns:IOrderService_ProcessIncomingMessage_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPizzaService" type="tns:IPizzaService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPizzaService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="PlaceOrder">
      <soap12:operation soapAction="http://tempuri.org/IPizzaService/PlaceOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="TimeRemaining">
      <soap12:operation soapAction="http://tempuri.org/IPizzaService/TimeRemaining" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PizzaReady">
      <soap12:operation soapAction="http://tempuri.org/IPizzaService/PizzaReady" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetMsmqBinding_IOrderService" type="tns:IOrderService">
    <wsp:PolicyReference URI="#NetMsmqBinding_IOrderService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/msmq" />
    <wsdl:operation name="ProcessIncomingMessage">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/ProcessIncomingMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IOrderService" type="tns:IOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessIncomingMessage">
      <soap:operation soapAction="http://tempuri.org/IOrderService/ProcessIncomingMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PizzaService">
    <wsdl:port name="NetTcpBinding_IPizzaService" binding="tns:NetTcpBinding_IPizzaService">
      <soap12:address location="net.tcp://localhost:8090/PizzaService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/PizzaService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-A6TP8A4\Geoffrey Song</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetMsmqBinding_IOrderService" binding="tns:NetMsmqBinding_IOrderService">
      <soap12:address location="net.msmq://localhost/private/myqueue" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.msmq://localhost/private/myqueue</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IOrderService" binding="tns:BasicHttpBinding_IOrderService">
      <soap:address location="http://localhost:8080/PizzaService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>