WcfClientLibrary/Web References/DataServiceWebReference/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/DataService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServer" />
  <xs:element name="ProcessDataChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServer" minOccurs="0" name="message" nillable="true" type="q1:DataChangeMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessDataChangeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>