WcfClientLibrary/Web References/DataServiceWebReference/DataService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataChangeMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="RowId" type="xs:int" />
      <xs:element minOccurs="0" name="TableId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataChangeMessage" nillable="true" type="tns:DataChangeMessage" />
</xs:schema>